<!-- DEPRECIATED PRICE OF FDG-IMS -->

<!-- EXTENDS CCS/ JS LINKS -->
{% extends 'Base_Template.html' %}

<!-- MAIN CONTENT OF ADMIN -->
{% block content %}

<!-- INCLUDES SIDEBAR MENU -->
{% include 'Sidebar.html' %}
<script src="./dist/js/demo-theme.min.js?1692870487"></script>
<div class="page">

  <div class="page-wrapper">

    <!-- INCLUDES HEADER -->
    <div class="page-header d-print-none">
      <div class="container-xl">
        <div class="row g-2 align-items-center">
          <div class="col">
            <h2 class="page-title">
              Depreciated Price
            </h2>
          </div>
        </div>
      </div>
    </div>

    <!-- PAGE BODY -->
    <div class="page-body">
      <div class="container-xl">
        <div class="row row-cards">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
        

{% endblock content %}
